@{ 
    ViewData["Title"] = "Champions"; 
}

<header>
    <div>
        <h1> Campeões </h1>
        <p1> Selecione 16 campeões para começar a partida </p1>
        <button type="button">Iniciar</button>
    </div>
</header>
