@{
    ViewData["Title"] = "Champions";
}
<link rel="stylesheet" href="~/css/pages/champions.css" />
<link rel="stylesheet" href="~/css/pages/index.css" />
<header>
    <div class="index shadow-lg p-3 mb-5">
        <h1>DRAFT</h1>
        <p> SELECIONE 16 CAMPEÕES PARA COMEÇAR!</p>
        <div>
            <button type="button" class="custom-btn btn-3">Iniciar</button>
        </div>
    </div>
</header>
