@font-face {
    font-family: 'FF Mark';
    src: url('../fonts/FontFont_FF.Mark.Pro.Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Light.tff') format('truetype');
}
body {
    background-image: url('../../img/backgrouds/background-champions-select.png');
    background-size: cover;
}
h1 {
    color: white;
    font-family: 'FF Mark';
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
}
p {
    color: white;
    font-family: 'Cairo';
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
}
