@font-face {
    font-family: 'FF Mark';
    src: url('../fonts/FontFont_FF.Mark.Pro.Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Light.tff') format('truetype');
}
/*Cards*/
.cards {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    filter: grayscale(100%);
}

    .cards:hover {
        transform: scale(1.05, 1.05);
        filter: drop-shadow(5px 5px 5px #29a6f8);
        transition: 0.5s;
    }  


.botao_iniciar {
    filter: drop-shadow(5px 5px 5px #222);
    position: relative;
    z-index: 9999;
}
/*Padrões*/

.row {
    margin: 0px !important;
}

.container {
    position: relative;
}

.cards {
    position: relative;
}

.nome {
    position: absolute;
    top: 250px;
    width: 200px;
}

.informacoes {
    position: absolute;
    top: 300px;
    width: 200px;
}
/*checkbox*/
input {
    position: absolute;
}
.redondo {
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #696d70;
    -webkit-appearance: none;
    height: 61px;
    width: 60px;
    top: 1px;
    left: 71px;
}
/*Estilização dos textos*/
p {
    margin: 0px 5px 0px 0px !important;
    font-family: 'Cairo';
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
    font-size: 14px;
}

h1 {
    margin: 0px !important;
    text-align: center;
    font-family: 'FF Mark';
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
}

h4 {
    text-align: center;
    margin: 0px !important;
    font-family: 'FF Mark';
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
}

h5 {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'FF Mark';
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
}

input {
    height: 53px;
    top: 5px;
    left: 1px;
}
/*Background*/
body {
    background-image: url(../../img/backgrouds/background-champions-select.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    object-fit: cover;
    width: 200px;
    z-index: -1;
}
