@font-face {
    font-family: 'FF Mark';
    src: url('../fonts/FontFont_FF.Mark.Pro.Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Medium.ttf') format('truetype');
}

button {
    margin: 20px;
    outline: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #0366d6;
    font-family: 'Cairo';
    font-weight: 500;
    background: #29a6f8;
    cursor: pointer;
    transition: all 0.3s ease;
    position: static;
    display: inline-block;
    z-index: 1;
}

.btn-3 {
    line-height: 39px;
    padding: 0;
    z-index: 1;
}

    .btn-3:hover {
        background: transparent;
        color: #fff;
        box-shadow: 0 0 10px #0366d6, 0 0 5px #1bdcdc;
    }

    .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn-3:before,
    .btn-3:after {
        position: relative;
        content: "";
        left: 0;
        top: 0;
        background: #fff;
        transition: all 0.3s ease;
    }

    .btn-3:before {
        height: 0%;
        width: 2px;
    }

    .btn-3:after {
        width: 0%;
        height: 2px;
    }

    .btn-3:hover:before {
        height: 100%;
    }

    .btn-3:hover:after {
        width: 100%;
    }

    .btn-3 span:before,
    .btn-3 span:after {
        position: relative;
        content: "";
        right: 0;
        bottom: 0;
        background: #fff;
        transition: all 0.3s ease;
    }

    .btn-3 span:before {
        width: 2px;
        height: 0%;
    }

    .btn-3 span:after {
        width: 0%;
        height: 2px;
    }

    .btn-3 span:hover:before {
        height: 100%;
    }

    .btn-3 span:hover:after {
        width: 100%;
    }

.container {
    position: relative;
}
.logo {
    position: absolute;
    z-index: 9999;
    width: 400px;
    left: 365px;
    top: 120px;
}
.imagem {
    filter: drop-shadow(10px 10px 10px #222);
}
.bg_video{
    position: relative;
    z-index:-9999;
    justify-items: center;
    width: 1080px;
    margin-bottom: 20px;
}
.botao {
    filter: drop-shadow(5px 5px 5px #222);
    position: absolute;
    z-index: 9999;
    top: 300px;
    left: 480px;
}
